<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <h2 class="title">这是一个koa-art-template</h2>
    <h2>循环数据</h2>
    <ul>
        <%for(var i=0;i<list.length;i++){%>
            <li>
                <a href=<%=list[i].href%></a>><%=list[i].title%> </a> 
            </li>
        <%}%>
    </ul>
</body>

</html>